.min-height-step-2 {
    margin-top: 10px;
    min-height: 200px;
    max-height: 250px;
}

.min-height-step-3 {
    /* align-items: center;; */
    margin-top: 10px;
    min-height: 250px;
}

.services__list{
    height: 215px;
    align-items: center;
}